.loader {
    align-items: center;
    background: #FFF;
    display: flex;
    height: 100%;
    position: absolute;
    justify-content: center;
    width: 100%;
    left: 0;
    top: 0;
    &__image {
        height: 6rem;
        width: 6rem;
    }
}